/* App.css */

.input-field {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

.input-field:focus {
  border: 3px solid #555;
}

.app-container {
  width: 80%;
  margin: auto;
  max-width: 600px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f4f4f4;
}

/* Responsive design for screens smaller than 600px */
@media only screen and (max-width: 600px) {
  .app-container {
      width: 100%;
  }

  .input-field, .login-button, .disconnect-button, .clear-messages-button {
      width: 100%;
      box-sizing: border-box;
  }

  .chat-header {
    font-size: 1.2em;
}
}

.chat-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 10px;
  font-size: 1.5em;
}

.message-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: auto;
  height: 300px; /* Adjust this value as needed */
}

.message-item {
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  background-color: #f0f0f0; /* Light grey */
}

.message-item:nth-child(even) {
  background-color: #d0d0d0; /* Darker grey */
}

.message-item .pseudo {
  font-weight: bold;
}

.message-item .text {
  margin-left: 10px;
}

.login-button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.login-button.disabled {
  background-color: #cccccc; /* Grey */
  cursor: not-allowed;
}

.message-button {
  background-color: #008CBA; /* Blue */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.disconnect-button {
  background-color: #f44336; /* Red */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.clear-messages-button {
  background-color: #555555; /* Dark gray */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}